<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
    [style.background-color]="(top == false) ? 'rgb(31 110 212 / 95%)' : 'transparent'">
    <div class="container d-flex align-items-center justify-content-between" style="max-width: 90%;">
        <a href="index.html" style="margin-right: 20px;"><img src="assets/Images/PV4PLogo.PNG" alt=""
                style="width: 60px;"></a>
        <div class="logo">

            <h1 style="margin-top: 4%;"> <a href="index.html">South African Council for the Property Valuers
                    Profession</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown "><a class="nav-link scrollto " href="#hero"
                        (click)="goToContruction(false)"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="#about" (click)="goToContruction(false)">About</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#services" (click)="goToContruction(false)">Services</a>
                        </li>
                        <li><a class="nav-link scrollto " href="#portfolio"
                                (click)="goToContruction(false)">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#faq" (click)="goToContruction(false)">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#team" (click)="goToContruction(false)">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact" (click)="goToContruction(false)">Contact
                                Us</a>
                        </li>
                    </ul>
                </li>
                <li><a href="announcements" class="active">Announcements</a></li>
                <li><a href="examinations">Examinations</a></li>

                <li class="dropdown"><a href="events"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="notice">Notice</a></li>

                        <li><a href="gallery">Gallery</a></li>

                        <li class="dropdown"><a href=""><span>Conferences,
                                    Workshops &
                                    Seminars</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="practicalworkschool">Practical Workschool</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="TendersAndJobs">Tenders/Jobs</a></li>


                <li class="dropdown"><a href="registrations"><span>Registrations</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="HowToRegister">How to register</a></li>
                        <li><a href="AccreditedProgrammes">
                                Accredited Programmes</a></li>
                        <li><a href="E-Log">e-Log Maintain Work Record</a></li>
                        <li><a href="CET">
                                CPD Activities and Allocation</a></li>
                        <li><a href="RestrictionCodes">Restriction Codes</a></li>
                        <li><a href="Learnership">
                                Learnership</a></li>

                    </ul>
                </li>



                <li><a href="ProfessionalFees">Professional Fees</a></li>



                <li class="dropdown"><a href="standards"><span>Standards</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="MunicipalRatingStandards">
                                Municipal Rating Standards</a></li>
                        <li><a href="InternationalValuationStandards">
                                International Valuation Standards</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="LodgeALegalCaseOrComplaint"><span>Legal</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="governance">Governance</a></li>
                        <!-- <li><a href="">Lodge a legal case</a></li>
                        <li class="dropdown"><a href=""><span>Code of conduct</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="LodgeALegalCaseOrComplaint">Lodge a legal case or
                                        complaint</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown"><a href="FindValuer"><span>Find Valuer</span></a>
                    <!-- <ul>
                    <li><a href="#" (click)="goToContruction(true)">
                            Name search</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Search by Council Number</a></li>
                    <li><a href="#" (click)="goToContruction(true)">
                            Search by Category</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Member Search</a></li>
                </ul> -->
                </li>







                <li><a class="nav-link scrollto" (click)="toApp()" href="">Log In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>



<!-- ======= Hero Section ======= -->

<main>
    <div class="section-title" data-aos="zoom-out" style="padding-top: 100px;padding-left: 10px;">
        <h2 style="font-size: 20px;">Announcments</h2>
    </div>
    <div style="padding-bottom: 100px;">

        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(../../../assets/announcments/man-3653346_1280.jpg)">
                </div>
                <ul class="details">
                    <li class="author"><a href="#">SACPVP</a></li>
                    <li class="date">Feb 09, 2024</li>
                    <li class="tags">
                        <ul>
                            <li><a href="#">Exams</a></li>
                            <li><a href="#">Learning</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="description">
                <h1>Pre-Examination notice.</h1>
                <h2>SACPVP is hosting the Pre-Examination</h2>
                <p> 12th & 13th March 2024 and the Board Examination on 26th March 2024.
                    Details of the venue as well as the Registration forms for attending the Pre-Board Examination
                    Workshop will be confirmed/circulated shortly to all the successful applicants</p>
                <p class="read-more">
                    <a href="#" (click)="openPDF2()">Read More</a>
                </p>
            </div>
        </div>
        <div class="blog-card alt">
            <div class="meta">
                <div class="photo"
                    style="background-image: url(../../../assets/announcments/nirmala_devi_naidoo_photo.jpg)">
                </div>
                <ul class="details">
                    <li class="author"><a href="#">SACPVP</a></li>
                    <li class="date">Dec. 11, 2023</li>
                    <li class="tags">
                        <ul>
                            <li><a href="#">Success</a></li>
                            <li><a href="#">Leadership</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="description">
                <h1>Announcement of the new registrar</h1>
                <h2>Best of wishes</h2>
                <p>The SA Council for Property Valuers Profession Board hereby wish to announce the
                    appointment of the new Registrar effective 1 January 2024 for a period of 5 (five years).
                    Nirmala Devi Naidoo (Roshinee) was appointed as the new Registrar. She served at the
                    SACPVP Council for 8 years and the immediate past Vice President......</p>
                <p class="read-more">
                    <a href="#" (click)="openPDF()">Read More</a>
                </p>
            </div>
        </div>

        <div class="blog-card">
            <div class="meta">
                <div class="photo" style="background-image: url(../../../assets/announcments/studying-951818_1280.jpg)">
                </div>
                <ul class="details">
                    <li class="author"><a href="#">SACPVP</a></li>
                    <li class="date">12 & 13 March 2024</li>
                    <li class="tags">
                        <ul>
                            <li><a href="#">Study</a></li>
                            <li><a href="#">Learning</a></li>
                            <li><a href="#">Education</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="description">
                <h1>Pre-Exam Workshop Programme
                    12 & 13 March 2024</h1>
                <h2>SACPVP is hosting the Pre-Exam Workshop</h2>
                <p style="padding-top: 10px;padding-bottom: 10px;"> Pre-Exam Workshop Programme
                    12 & 13 March 2024
                    Venue: NG Gemeente Stellastraat, 158 Stella Street, Waterkloof, 0181 </p>
                <p class="read-more">
                    <a href="#" (click)="openPDFExam()">Read More</a>
                </p>
            </div>
        </div>

    </div>



</main><!-- End #main -->


<!-- ======= Footer ======= -->

<app-footer></app-footer>

<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    [style.visibility]="(bottomscrollarrow == false) ? 'hidden' : 'unset'"
    [style.opacity]="(bottomscrollarrow == false) ? '0' : '1'"><i class="bi bi-arrow-up-short"></i></a>