<!-- Header starts -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
    [style.background-color]="(top == false) ? 'rgb(31 110 212 / 95%)' : 'transparent'">
    <div class="container d-flex align-items-center justify-content-between" style="max-width: 90%;">
        <a href="index.html" style="margin-right: 20px;"><img src="assets/Images/PV4PLogo.PNG" alt="" class="img-fluid"
                style="width: 60px;"></a>
        <div class="logo">

            <h1><a href="index.html">South African Council for the Property Valuers Profession</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown "><a class="nav-link scrollto " href="#hero"
                        (click)="goToContruction(false)"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="#about" (click)="goToContruction(false)">About</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#services" (click)="goToContruction(false)">Services</a>
                        </li>
                        <li><a class="nav-link scrollto " href="#portfolio"
                                (click)="goToContruction(false)">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#faq" (click)="goToContruction(false)">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#team" (click)="goToContruction(false)">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact" (click)="goToContruction(false)">Contact
                                Us</a>
                        </li>
                    </ul>
                </li>
                <li><a href="announcements">Announcements</a></li>
                <li><a href="examinations">Examinations</a></li>

                <li class="dropdown"><a href="events" class="active"><span>Events</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="notice" class="active">Notice</a></li>

                        <li><a href="gallery">Gallery</a></li>

                        <li class="dropdown"><a href=""><span>Conferences,
                                    Workshops &
                                    Seminars</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="practicalworkschool">Practical Workschool</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="TendersAndJobs">Tenders/Jobs</a></li>


                <li class="dropdown"><a href="registrations"><span>Registrations</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="HowToRegister">How to register</a></li>
                        <li><a href="AccreditedProgrammes">
                                Accredited Programmes</a></li>
                        <li><a href="E-Log">e-Log Maintain Work Record</a></li>
                        <li><a href="CET">
                                CPD Activities and Allocation</a></li>
                        <li><a href="RestrictionCodes">Restriction Codes</a></li>
                        <li><a href="Learnership">
                                Learnership</a></li>

                    </ul>
                </li>



                <li><a href="ProfessionalFees">Professional Fees</a></li>



                <li class="dropdown"><a href="standards"><span>Standards</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="MunicipalRatingStandards">
                                Municipal Rating Standards</a></li>
                        <li><a href="InternationalValuationStandards">
                                International Valuation Standards</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="LodgeALegalCaseOrComplaint"><span>Legal</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="governance">Governance</a></li>
                        <!-- <li><a href="">Lodge a legal case</a></li>
                        <li class="dropdown"><a href=""><span>Code of conduct</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="LodgeALegalCaseOrComplaint">Lodge a legal case or
                                        complaint</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown"><a href="FindValuer"><span>Find Valuer</span></a>
                    <!-- <ul>
                    <li><a href="#" (click)="goToContruction(true)">
                            Name search</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Search by Council Number</a></li>
                    <li><a href="#" (click)="goToContruction(true)">
                            Search by Category</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Member Search</a></li>
                </ul> -->
                </li>







                <li><a class="nav-link scrollto" (click)="toApp()" href="">Log In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>



<!-- Main content starts  -->
<div class="section-title" data-aos="zoom-out" style="padding-top: 100px;padding-left: 10px;">
    <h2 style="font-size: 20px;">Notice</h2>
</div>

<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;">SOUTH AFRICAN COUNCIL FOR THE PROPERTY VALUERS PROFESSION </h4>
</div>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;">HOSTING OF THE PRACTICAL WORKSCHOOL FROM 21 – 25 AUGUST 2023</h4>
</div>
<p style="font-size: 16px;text-align: center;">Registration is now open and it is the first post Covid 19 practical work
    school that will be hosted as normal a contact session. </p>

<ol type="1" style="font-size: 14px;margin-left: 20%;margin-top: 20px;">
    <li><b>Who may attend the Work school</b></li>
    <ol type="a">
        <li>A Candidate Valuer (including a Candidate Single Residential Property Assessor – CSRPA) in his/her final.
            year of study of an accredited valuation qualification and who will be graduating in 2024.</li>
        <li>A Candidate Valuer who has completed his/her valuation qualification and wishes to sit for the Council’s
            admission examination to become a professional. </li>
        <li>A Candidate Single Residential Property Assessor (CSRPA) who will attend fewer sessions of the work school
            and expected to take test on the Time Value of Money (TVM).</li>
        <li>A Professional Associated Valuer or Professional Valuer who is already registered with the Council and wants
            to refresh his/her valuation knowledge and earn CPD points.</li>
        <li>A Candidate Valuer or a Professional Associated Valuer in preparation for the Board examination which was
            previously referred to as the pre-exam session. </li>
        <li>A delegate attending the practical work school as a requirement for the Board examination who will obtain a
            Certificate of Attendance.</li>
        <li>Any unregistered person ie a person not registered with the Council. </li>
    </ol>
    <br>
    <br>
    <p><b>Please note: </b>It is compulsory that a delegate <b>must</b> attend the practical work school as a
        requirement to sit for the Board examination (to become professionals). </p>
    <br>
    <br>
    <li><b>The Tests</b></li>
    <ol type="a">
        <li>Two (2) tests will be written by attendees at the work school. </li>
        <li>The first test will be written on the 3rd day ie on 23 August 2023 on the Time Value of Money (TVM). This
            test is compulsory for all registered persons only. </li>
        <li>The second test will be structured in a manner that it will test the attendees on all work presented at the
            work school. This test will be written on the last day of the work school being 25 August 2023. </li>
    </ol>
    <br>
    <li><b>Allocation of CPD points </b></li>
    <ol type="a">
        <li>CPD points will be allocated to those attending the work school, registered as professional associated or
            professional valuer but not candidate valuers. For those attending the work school as a refresher course
            will not receive CPD points. </li>
        <br>
        <p style="font-size: 14px;font-weight: bold;">The Table here under is important to note: </p>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Category </th>
                <td mat-cell *matCellDef="let element"> {{element.category}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="noOfDays">
                <th mat-header-cell *matHeaderCellDef> No.Of Days </th>
                <td mat-cell *matCellDef="let element"> {{element.noOfDays}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="cetpoints">
                <th mat-header-cell *matHeaderCellDef> CPD Points </th>
                <td mat-cell *matCellDef="let element"> {{element.cetpoints}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount (Vat Incl) </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <br>

        <b>Special Notes:</b>
        <br>
        <br>
        <li>Delegates wishing to attend a particular session/s or lecture/s are charged a daily rate, irrespective of
            the number of session/s or lecture/s attended on the particular day. </li>
        <li>The applicable form to attend the practical work school is uploaded on the SACPVP website</li>
        <li>Payment is due on or before 31 July 2023.</li>
        <li>Use your Registration number as reference or your Name and Surname for those that are not registered with
            the Council. </li>
        <li>Please send your registration form and proof of payment to moeletsi@sacpvp.co.za or martina@sacpvp.co.za on
            or before 31 July 2023.</li>
        <li>Delegates will not be allowed to attend the work school unless payment is made and received in total.</li>
    </ol>

    <br>
    <br>
    <li><b>Banking details</b></li>
    <br>
    <div class="card" data-aos="zoom-out">
        <h2 class="card__bank" style="font-weight: bold;">ABSA</h2>
        <div class="card__images">
            <img class="card__chip" src="https://i.imgur.com/e0PA0Yz.png" alt="">
            <img class="card__wireless"
                src="https://cdn0.iconfinder.com/data/icons/elasto-online-store/26/00-ELASTOFONT-STORE-READY_contactless-512.png"
                alt="">
        </div>
        <ul class="card__numbers">
            <li style="font-size: 16px;margin-top: 5%;">Account Number:</li>
            <li class="card__number">214</li>
            <li class="card__number">0285</li>
            <li class="card__number">741</li>
        </ul>
        <!-- <h5 class="card__validthrutext">valid thru</h5>
        <h3 class="card__validthru">03/24</h3> -->
        <h1 class="card__person" style="font-size: 16px;">Type: Current Account<br> Branch: Menlyn - 632005</h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/Mastercard-logo.svg" alt="" class="card__logo">
    </div>

    <br>
    <p style="font-size: 14px;">Should you wish to have an invoice for this event sent to either your employer or third
        party, please request in writing to lerato@sacpvp.co.za and admin@sacpvp.co.za. </p>

    <br>

    <p style="font-size: 14px;">Please quote your name/registration number, address of your employer or third party and
        the contact person. </p>
    <br>
    <p style="font-size: 14px;"><b>MANAGER: REGISTRATIONS:</b> Ms MM Monyamane</p>
    <br>
    <p style="font-size: 14px;"><b>ACTING REGISTRAR:</b> Ms ND Naidoo </p>
    <br>
    <p style="font-size: 14px;"><b><b class="hyper" (click)="openPDFWorkschool()">Click here</b> for Practical
            Workschool Notice in PDF format</b>
    </p>
    <br>
    <p style="font-size: 14px;"><b><b class="hyper" (click)="openPDFWorkschool2()">Click here</b> for Registration
            form</b> </p>


</ol>

<!-- Section 2 -->

<mat-divider></mat-divider>

<img class="center" data-aos="zoom-out"
    src="https://www.getsmarter.com/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBNdz09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--26667979547dead03dfdac9a1f4a2bba7e4220c0/university_of_cape_town_sitewide_logo.svg">

<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;"> VALUATION FOR LAND REFORM AND EXPROPRIATION </h4>
</div>
<br>
<br>
<div style="margin-left: 20%;font-size: 14px;">
    <p><b>22 – 24 May 2023</b></p>

    <p>Venue: Birchwood Hotel, Johannesburg </p>
    <p>CPD Course | Dept. of Construction Economics & Management | UCT</p>
    <p>CPD: 3 CPD points, ECSA Validation No: UCTVLRE23; 18 SACPVP CPD points </p>
    <p>Participants This course will be on benefit to all who are concerned with the valuation of property for land
        reform and expropriation. </p>
    <p>Fees* Standard delegate: R11 900.00 </p>
    <p class="hyper" (click)="openvenue1()">Please click here for more information.</p>
</div>
<br>
<mat-divider></mat-divider>
<br>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;"> PRE-EXAM WORKSHOP </h4>
</div>

<div style="margin-left: 20%;font-size: 14px;">
    <p><b>Date: </b>&#160;&#160;&#160;&#160;&#160;&#160; 1 – 2 March 203</p>
    <p><b>Time: </b> &#160;&#160;&#160;&#160;&#160;&#160;9h00 – 16h00</p>
    <p><b>Venue: </b> &#160;&#160;&#160;&#160;NG Gemeente Stellastraat, 158 Stella Street, Waterkloof, 0181</p>
    <p><b>Tel No.: </b> &#160;&#160;&#160;012 460 8570 </p>
    <p class="hyper" (click)="openvenue2()">Click here to view the Pre-Exam Workshop programme.</p>
</div>
<br>
<mat-divider></mat-divider>
<br>

<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;padding-bottom: 0px;">
    <h4 style="font-size: 16px;text-align: center;"> ANNOUNCEMENT OF THE NEW 6<sup>TH</sup> COUNCIL </h4>
</div>
<div class="section-title" data-aos="zoom-out" style="padding-top: 0px;">
    <h4 style="font-size: 16px;text-align: center;"> ADMINISTRATION STAFF AND ACTING REGISTRAR </h4>
</div>

<div style="margin-left: 20%;font-size: 14px;">
    <p>Please note that the new 6<sup>th</sup> Council of SACPVP was inaugurated on 19<sup>th</sup> October 2022.
        Hereunder are the
        names of
        the newly elected Councilors serving their term until August 2026.</p>
    <br>

    <ol type="1">
        <li>Mr John Frederick Cloete (President)</li>
        <li>Ms Tiny Letsholo (Vise President)</li>
        <li>Mr Manyane Chidi</li>
        <li>Mr Mashilo Pitjeng </li>
        <li>Ms Manku Matseba </li>
        <li>Ms Rehab Letsaba </li>
        <li>Ms Henda Viljoen </li>
        <li>Mr Gregory Cowden </li>
        <li>Mr Rakesh Ramlugaan </li>
        <li>Mr Arthur Lelosa </li>
    </ol>
    <br>

    <p><b>The Administration Staff:</b> </p>

    <ol type="1">
        <li>Mr Gabriel Mashishi</li>
        <li>Ms Martina Monyamane </li>
        <li>Ms Lerato Monyela </li>
        <li>Ms Kate Maphalla </li>
        <li>Ms Moeletsi Maribe </li>
        <li>Mr Moyahabo Matjeka </li>
        <li>Mr Peter Ntsweng </li>

    </ol>
    <p>The Acting Registrar is Ms ND Naidoo (Roshinee)</p>
    <p><b class="hyper" (click)="openStaffPDF()">Click here</b> to download the announcement in pdf format. </p>
</div>

<br>
<br>
<mat-divider></mat-divider>
<br>
<br>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;"> DATA COLLECTION: </h4>
</div>

<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p>Leponyo Terry Mamabolo is a Masters student at the University of the Free State, is currently undertaking a
        degree in Master of Land and Property Development Management, under the supervision of Professor, Kahilu
        Kajimo-Shakantu. </p>
    <p>Leponvo Terry Mamabolo has obtained ethical approval from the University of the Free State to conduct research on
        “Professional Ethics and Practices of Value’s in The South African Property Industry”. The purpose of the
        questionnaire is to obtain data on how South African property valuers practice ethics and uphold ethical
        standards when undertaking and preparing valuation reports, in order to improve valuation practice. </p>
    <p><b class="hyper" (click)="openEthicsPDF()">Ethics Approval Letter</b></p>
    <p><b class="hyper" (click)="openSupportPDF()">SACPVP Letter of Support </b></p>
    <p><b class="hyper" (click)="openParticipationPDF()">Cover Letter to Participants </b></p>
    <p><b class="hyper">Click here </b>to participate in the survey. </p>
</div>
<br>
<br>
<mat-divider></mat-divider>
<br>
<br>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;"> RESEARCH SURVEY: </h4>
</div>
<br>
<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p><b>Hannah Mago</b>, is a <b>Master of Science in the Built Environment (Property Economics and Valuation)</b>
        student at Nelson Mandela University, who is conducting research on <b>the impact of technology adoption on
            property valuation in the residential property market in South Africa.</b> The survey received ethics
        approval from Nelson Mandela University Research Ethics Committee. The ethics approval number is
        H22-ENG-CMA-020. Please find the attached ethics approval letter. </p>
    <p>The research is significant as it will cover the knowledge gap by investigating how property technologies can
        mitigate the challenges faced by the property valuation sector in South Africa. By identifying the benefits and
        barriers of adopting property technology in the valuation of residential properties, property valuation firms,
        banks and insurance companies are provided with important insights that they can use to inform policy and
        practice regarding the adoption of Property Technology to reduce the property valuation disparities. </p>
    <br>
    <p><b class="hyper">Please take a moment to complete the survey by clinking here. </b></p>
</div>
<br>
<br>
<mat-divider></mat-divider>
<br>
<br>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;"> DOCTORATE RESEARCH PROJECT: </h4>
</div>
<br>
<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p>RUDO MELISSA ZHANDA is pursuing a Doctorate at Henly Business School, University of Reading in the United
        Kingdom. Her research project aims to investigate the awareness and the perception of value of professional
        bodies in the built environment. Empirical research on this subject is non-existent which is the need for this
        research. </p>
    <p>Responses are anonymous and individual respondents will not be identified in the final report. The project has
        been subject to ethical review and has been given a favourable ethical opinion for conduct by the University of
        Reading. </p>
    <br>
    <p>Please find below the link to the research survey: </p>
    <a href="https://henley.eu.qualtrics.com/jfe/form/SV_cUWkAWXzb7OX5e6" target="_blank"><b
            class="hyper">https://henley.eu.qualtrics.com/jfe/form/SV_cUWkAWXzb7OX5e6</b></a>
</div>
<br>
<br>
<mat-divider></mat-divider>
<br>
<br>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;"> BUILT ENVIRONMENT PRIVATE PRACTICE SURVEY </h4>
</div>
<br>
<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p>The objective of the CBE built environment professional private practices survey is to create a database for the
        purposes of creating information baseline to equip the CBE when engaging with relevant stakeholders such as
        government and private sector on matters impacting the built environment professions. </p>
    <p>This database is not intended to create any expectations, but rather to assist the CBE in understanding issues
        that affect the built environment and its professions. </p>
    <p>Your participation in this survey will equip the CBE with factual information to support its advocacy for change
        in the implementation of procurement policies and programmes intended to bring about transformation in the
        industry. </p>
    <p>You are kindly requested to complete the survey by clicking <a href="https://forms.gle/52uLcqgt8VwRnJz19"
            class="hyper">here</a>, and to circulate this link
        <a href="https://forms.gle/52uLcqgt8VwRnJz19" class="hyper">(https://forms.gle/52uLcqgt8VwRnJz19)</a> to all BE
        private practices that you are aware of to complete the survey.
    </p>
    <br>
    <p><b style="font-size: 16px;">CONFIDENTIALITY</b></p>
    <br>
    <p>All the information and data collected through this questionnaire will be treated as confidential and will not be
        disclosed to third parties without prior notice as guided by POPI Act. </p>
    <br>
    <p>Your assistance is highly appreciated. </p>
</div>
<br>
<br>
<!-- footer starts -->

<!-- ======= Footer ======= -->
<app-footer></app-footer>

<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    [style.visibility]="(bottomscrollarrow == false) ? 'hidden' : 'unset'"
    [style.opacity]="(bottomscrollarrow == false) ? '0' : '1'"><i class="bi bi-arrow-up-short"></i></a>