<!-- Header Starts -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
    [style.background-color]="(top == false) ? 'rgb(31 110 212 / 95%)' : 'transparent'">
    <div class="container d-flex align-items-center justify-content-between" style="max-width: 90%;">
        <a href="index.html" style="margin-right: 20px;"><img src="assets/Images/PV4PLogo.PNG" alt="" class="img-fluid"
                style="width: 60px;"></a>
        <div class="logo">

            <h1><a href="index.html">South African Council for the Property Valuers Profession</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown "><a class="nav-link scrollto " href="#hero"
                        (click)="goToContruction(false)"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="#about" (click)="goToContruction(false)">About</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#services" (click)="goToContruction(false)">Services</a>
                        </li>
                        <li><a class="nav-link scrollto " href="#portfolio"
                                (click)="goToContruction(false)">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#faq" (click)="goToContruction(false)">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#team" (click)="goToContruction(false)">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact" (click)="goToContruction(false)">Contact
                                Us</a>
                        </li>
                    </ul>
                </li>
                <li><a href="announcements">Announcements</a></li>
                <li><a href="examinations">Examinations</a></li>

                <li class="dropdown"><a href="events"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="notice">Notice</a></li>

                        <li><a href="gallery">Gallery</a></li>

                        <li class="dropdown"><a href=""><span>Conferences,
                                    Workshops &
                                    Seminars</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="practicalworkschool">Practical Workschool</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="TendersAndJobs">Tenders/Jobs</a></li>


                <li class="dropdown"><a href="registrations" class="active"><span>Registrations</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="HowToRegister">How to register</a></li>
                        <li><a href="AccreditedProgrammes">
                                Accredited Programmes</a></li>
                        <li><a href="E-Log">e-Log Maintain Work Record</a></li>
                        <li><a href="CET">
                                CPD Activities and Allocation</a></li>
                        <li><a href="RestrictionCodes">Restriction Codes</a></li>
                        <li><a href="Learnership">
                                Learnership</a></li>

                    </ul>
                </li>



                <li><a href="ProfessionalFees">Professional Fees</a></li>



                <li class="dropdown"><a href="standards"><span>Standards</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="MunicipalRatingStandards">
                                Municipal Rating Standards</a></li>
                        <li><a href="InternationalValuationStandards">
                                International Valuation Standards</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="LodgeALegalCaseOrComplaint"><span>Legal</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="governance">Governance</a></li>
                        <!-- <li><a href="">Lodge a legal case</a></li>
                        <li class="dropdown"><a href=""><span>Code of conduct</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="LodgeALegalCaseOrComplaint">Lodge a legal case or
                                        complaint</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown"><a href="FindValuer"><span>Find Valuer</span></a>
                    <!-- <ul>
                    <li><a href="#" (click)="goToContruction(true)">
                            Name search</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Search by Council Number</a></li>
                    <li><a href="#" (click)="goToContruction(true)">
                            Search by Category</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Member Search</a></li>
                </ul> -->
                </li>







                <li><a class="nav-link scrollto" (click)="toApp()" href="">Log In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>

<!-- Content Starts -->
<div class="section-title" data-aos="zoom-out" style="padding-top: 100px;padding-left: 10px;">
    <h2 style="font-size: 20px;">Registration</h2>
</div>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;padding-bottom: 0px;">
    <h4 style="font-size: 16px;text-align: center;">Select Your Registration Type </h4>
</div>
<br>
<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p><b>This is to clarify the type of registration certificates issued by SACPVP for various registration categories
        </b></p>
    <br>
    <p><b>Candidate Valuers </b></p>
    <ul>
        <li>A Candidate Valuer on his/her final years of valuation education will receive a 5 year certificate, both the
            electronic and paper (original) certificates</li>
        <li>A Candidate Valuer with a valuation qualification will receive a 5 year certificate, both electronic and
            paper (original)</li>
        <li>A Candidate Valuer registered with the SACPVP for more than 5 years will receive only a 1 year electronic
            certificate</li>
        <li>A Candidate Single Residential Property Assessor without a valuation qualification will receive only a 1
            year electronic certificate</li>
        <li>A Candidate Single Residential Property Assessor who completed a valuation qualification will receive 5 year
            electronic and original certificate. </li>
    </ul>
    <p><b>NB: </b>Candidate valuers are required to submit their academic progress report each year. Those who have
        completed their studies and still receiving 1 year certificate should submit certificate copies of their
        academic transcripts and certificates to <a href="mailto:lerato@sacpvp.co.za"><b
                class="hyper">lerato@sacpvp.co.za.</b></a>
    </p>
    <br>
    <p><b>Professional Associated (Pr Aval) and Professional Valuers (Pr Val)</b></p>
    <ul>
        <li>A CPD Compliant Pr AVal and Pr Val will receive a 5 year certificate, both electronic and paper (original)
            certificates with Gold crest </li>
        <li>A none-CPD compliant Pr AVal and Pr Val will receive only a 1 year electronic certificate. </li>
    </ul>
    <p><b>Professionals are required to have 50 CPD hours in a 5 year cycle.</b></p>
    <br>
    <p><b class="hyper" (click)="openRulesPDF()">Rules for the Property Valuers Profession, 2020</b></p>
    <br>
    <p><b>APPLICATION FORM FOR REGISTRATION</b></p>
    <p><b style="color: red;">NB!!</b></p>
    <p><b>For registration as Professional Valuer, Professional Associated Valuer and Single Residential Property
            Assessor </b></p>
    <p><b>You will be required further on to UPLOAD “EXPERIENCE MATRIX – SUMMARY OF THE VARIETY AND NATURE OF ALL
            EXPERIENCE IN PROPERTY VALUATION” Please <b class="hyper" (click)="openSummaryDoc()">click here</b> to
            download the template, complete it, save as PDF or
            Word and then keep it ready to UPLOAD further on. </b></p>
    <br>
    <!-- <p><b>Please proceed with your application below </b></p>
    <br>

    <mat-radio-group name="flavors">
        <mat-radio-button value="ApplicationforRegistration" checked="true">Application for
            Registration</mat-radio-button>
        <br>
        <mat-radio-button value="VoluntaryAssociation ">Voluntary Association </mat-radio-button>

    </mat-radio-group>
    <div style=" padding: 12px 0px;">
        <button class="custom-btn btn-f animation a6" (click)="OpenDialog()"><span>CONTINUE </span></button>
    </div> -->
    <br>
    <br>
</div>
<!-- Footer Starts -->
<app-footer></app-footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    [style.visibility]="(bottomscrollarrow == false) ? 'hidden' : 'unset'"
    [style.opacity]="(bottomscrollarrow == false) ? '0' : '1'"><i class="bi bi-arrow-up-short"></i></a>