<!-- Header Starts  -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
    [style.background-color]="(top == false) ? 'rgb(31 110 212 / 95%)' : 'transparent'">
    <div class="container d-flex align-items-center justify-content-between" style="max-width: 90%;">
        <a href="index.html" style="margin-right: 20px;"><img src="assets/Images/PV4PLogo.PNG" alt="" class="img-fluid"
                style="width: 60px;"></a>
        <div class="logo">

            <h1><a href="index.html">South African Council for the Property Valuers Profession</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown "><a class="nav-link scrollto " href="#hero"
                        (click)="goToContruction(false)"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="#about" (click)="goToContruction(false)">About</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#services" (click)="goToContruction(false)">Services</a>
                        </li>
                        <li><a class="nav-link scrollto " href="#portfolio"
                                (click)="goToContruction(false)">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#faq" (click)="goToContruction(false)">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#team" (click)="goToContruction(false)">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact" (click)="goToContruction(false)">Contact
                                Us</a>
                        </li>
                    </ul>
                </li>
                <li><a href="announcements">Announcements</a></li>
                <li><a href="examinations">Examinations</a></li>

                <li class="dropdown"><a href="events"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="notice">Notice</a></li>

                        <li><a href="gallery">Gallery</a></li>

                        <li class="dropdown"><a href=""><span>Conferences,
                                    Workshops &
                                    Seminars</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="practicalworkschool">Practical Workschool</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="TendersAndJobs">Tenders/Jobs</a></li>


                <li class="dropdown"><a href="registrations"><span>Registrations</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="HowToRegister">How to register</a></li>
                        <li><a href="AccreditedProgrammes">
                                Accredited Programmes</a></li>
                        <li><a href="E-Log">e-Log Maintain Work Record</a></li>
                        <li><a href="CET">
                                CPD Activities and Allocation</a></li>
                        <li><a href="RestrictionCodes">Restriction Codes</a></li>
                        <li><a href="Learnership">
                                Learnership</a></li>

                    </ul>
                </li>



                <li><a href="ProfessionalFees">Professional Fees</a></li>



                <li class="dropdown"><a href="standards"><span>Standards</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="MunicipalRatingStandards">
                                Municipal Rating Standards</a></li>
                        <li><a href="InternationalValuationStandards">
                                International Valuation Standards</a></li>
                    </ul>
                </li>

                <li class="dropdown"><a href="LodgeALegalCaseOrComplaint" class="active"><span>Legal</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="governance">Governance</a></li>
                        <!-- <li><a href="" class="active">Lodge a legal case</a></li>
                        <li class="dropdown"><a href=""><span>Code of conduct</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="LodgeALegalCaseOrComplaint">Lodge a legal case or
                                        complaint</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown"><a href="FindValuer"><span>Find Valuer</span></a>
                    <!-- <ul>
                    <li><a href="#" (click)="goToContruction(true)">
                            Name search</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Search by Council Number</a></li>
                    <li><a href="#" (click)="goToContruction(true)">
                            Search by Category</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Member Search</a></li>
                </ul> -->
                </li>







                <li><a class="nav-link scrollto" (click)="toApp()" href="">Log In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>


<!-- Content Starts -->
<div class="section-title" data-aos="zoom-out" style="padding-top: 100px;padding-left: 10px;">
    <h2 style="font-size: 20px;">Legal </h2>
</div>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;padding-bottom: 0px;padding-bottom: 490px;">
    <h4 style="font-size: 16px;text-align: center;">Busy Updating</h4>
</div>
<!-- <br>
<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p>Complete the form below to lodge a complaint of improper conduct and send it by courier or registered mail with
        the supporting documentation to the SACPVP postal or physical address for the attention of the Governance
        manager</p>
    <p>( Refer to the guidelines below for full information) </p>
    <p><b>Click on the link below to download the form and guidelines </b></p>
    <ol type="1" data-aos="zoom-out">
        <li><b class="hyper" (click)="openPDF()">CLICK HERE for Complaint Form</b></li>
        <li><b class="hyper" (click)="openPDF2()">CLICK HERE for Guidelines for Lodging a Complaint</b></li>
    </ol>
    <br>
    <form style="max-width: 50%;" data-aos="zoom-out">

        <div class="form-group">
            <label for="exampleInputFirst">First Name of Complainant</label>
            <input type="text" class="form-control" id="FirstNameofComplainant"
                aria-describedby="FirstNameofComplainant" placeholder="First Name of Complainant">

        </div>
        <br>
        <div class="form-group">
            <label for="LastNameofComplainant">Last Name of Complainant </label>
            <input type="text" class="form-control" id="LastNameofComplainant " aria-describedby="LastNameofComplainant"
                placeholder="Last Name of Complainant ">

        </div>
        <br>
        <div class="form-group">
            <label for="IDNumber">ID Number</label>
            <input type="number" class="form-control" id="IDNumber" aria-describedby="IDNumber" placeholder="ID Number">
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlFile1">Please upload Supporting documentation </label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <br>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Details of Person against whom a complaint is being lodged </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">Case information and description</label>
            <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        <br>

        <div style=" padding: 12px 0px;">
            <button class="custom-btn btn-f animation a6"><span>Submit </span></button>
        </div>
    </form>

</div> -->




<!-- Footer Starts -->
<app-footer style="margin-top: 1% !important;
display: block;"></app-footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    [style.visibility]="(bottomscrollarrow == false) ? 'hidden' : 'unset'"
    [style.opacity]="(bottomscrollarrow == false) ? '0' : '1'"><i class="bi bi-arrow-up-short"></i></a>