<mat-card style="display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
margin-top: 30px;">
    <mat-card-content>
        <div>
            <input type="radio" name="slider" id="slide-a-1" checked>
            <input type="radio" name="slider" id="slide-a-2">
            <input type="radio" name="slider" id="slide-a-3">
            <input type="radio" name="slider" id="slide-a-4">
            <input type="radio" name="slider" id="slide-a-5">
            <input type="radio" name="slider" id="slide-b-1">
            <input type="radio" name="slider" id="slide-b-2">
            <input type="radio" name="slider" id="slide-b-3">
            <input type="radio" name="slider" id="slide-b-4">
            <input type="radio" name="slider" id="slide-b-5">
            <div class="slider a1 aa1">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a2 aa2">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a3 aa3">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a4 aa4">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a5 aa5">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a1 bb1">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a2 bb2">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a3 bb3">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a4 bb4">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="slider a5 bb5">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <nav><label for="slide-a-1"></label><label for="slide-a-2"></label><label for="slide-a-3"></label><label
                    for="slide-a-4"></label><label for="slide-a-5"></label><label for="slide-b-1"></label><label
                    for="slide-b-2"></label><label for="slide-b-3"></label><label for="slide-b-4"></label><label
                    for="slide-b-5"></label></nav>

            <div class="corner">
                <div class="corner-bg"></div>
                <div class="corner-curl"></div>
                <a class="corner-txt" href="https://t.me/AndriyPanchiy" target="_blank"></a>
            </div>
        </div>

        <div class="textcontent">
            <br><br>
            <h1 class="textheaders">Welcome to the South African Council for the
                Property Valuers
                Profession (SACPVP)
            </h1>
            <br><br>
            <p class="textParagraph">SACPVP is a statutory body established on 1 January 1983 as the
                South African
                Council for Valuers, which was
                replaced by the SA Council for the Property Valuers Profession established by section 2 of The Property
                Valuers Profession Act, 2000.

                SACPVP sees itself in partnership with the State and the valuers profession to promote a high level of
                education and training of practitioners in the Property Valuers Profession so as to facilitate full
                recognition of professionalism in the valuers profession, both locally and abroad. It enjoys full
                autonomy -
                although it is accountable to the State, the profession and the public for the fair and transparent
                administration of its business in the pursuit of its goals..

                SACPVP is one of the six councils who operate in the Built Environment being:
                SACPVP; ECSA; SACPCMP; SACQSP; SACLAP</p>

            <br><br>
            <mat-divider></mat-divider>
            <br><br>
            <h1 class="textheaders">Built Environment Pledge to support Government
                efforts to assist
                KwaZulu-Natal
                Communities in rebuilding
                infrastructure - Call for Built environment professionals to volunteer their expertise</h1>
            <br><br>
            <p class="textParagraph">The recent floods in KZN warrants assistance from the built
                environment
                professionals.

                Professions in valuation are hereby requested to lend a hand in this disaster.

                Your assistance will be much appreciated.

                <a href="">Click here</a> for more information.
            </p>

            <br><br>
            <mat-divider></mat-divider>
            <br><br>
            <h1 class="textheaders">Municipal Rating Standard </h1>
            <br><br>
            <p class="textParagraph">Municipal rating of property in South Africa, is primarily governed
                by the Local Government Municipal Property Rates Act, Act No 6 of 2004 (as amended), referred to as the
                Act
                of the MPRA. The rating of a property is based principally on the market value of a property.

                <a href="">Click here</a> for more information.
            </p>
            <img src="../../../assets/Images/coronavirus_banner_transpare.png" style="  display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;">
        </div>




        <div class="flex-container" style="position: absolute;box-shadow: 0px 0px 0px 0px black;
        top: 38%;
        left: 65%;">
            <div style="    margin-left: 20%;">
                <h3 style="    text-align: justify;">User Name</h3>
                <textarea style="width: 280px;"></textarea>
                <br>
                <br>
                <h3 style="    text-align: justify;">Password</h3>
                <textarea style="width: 280px;"></textarea>
                <br>
                <br>
                <button class="custom-btn btn-5 animation a5"><span>LOGIN</span></button>


                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>


            <h1 style="text-align: center;">SACPVP&trade; Event and news reel see all top stories <br> currently
                happening or already past</h1>
            <div class="scrolling-words-container">
                <div class="box">
                    <ul class="ul2">
                        <li class="item-1">Media &amp; Entertainment</li>
                        <li class="item-2">Education</li>
                        <li class="item-3">Training</li>
                        <li class="item-4">Conferences</li>
                        <li class="item-5">Online meetings</li>
                        <li class="item-6">Media &amp; Entertainment</li>
                        <li class="item-7">Media &amp; Entertainment11</li>

                        <li class="item-1">Media &amp; Entertainment</li>
                        <li class="item-2">Education</li>
                        <li class="item-3">Training</li>
                        <li class="item-4">Conferences</li>
                        <li class="item-5">Online meetings</li>
                        <li class="item-6">Media &amp; Entertainment</li>
                        <li class="item-7">Media &amp; Entertainment11</li>

                        <li class="item-1">Media &amp; Entertainment</li>
                        <li class="item-2">Education</li>
                        <li class="item-3">Training</li>
                        <li class="item-4">Conferences</li>
                        <li class="item-5">Online meetings</li>
                        <li class="item-6">Media &amp; Entertainment</li>
                        <li class="item-7">Media &amp; Entertainment11</li>

                        <li class="item-1">Media &amp; Entertainment</li>
                        <li class="item-2">Education</li>
                        <li class="item-3">Training</li>
                        <li class="item-4">Conferences</li>
                        <li class="item-5">Online meetings</li>
                        <li class="item-6">Media &amp; Entertainment</li>
                        <li class="item-7">Media &amp; Entertainment11</li>

                        <li class="item-1">Media &amp; Entertainment</li>
                        <li class="item-2">Education</li>
                        <li class="item-3">Training</li>
                        <li class="item-4">Conferences</li>
                        <li class="item-5">Online meetings</li>
                        <li class="item-6">Media &amp; Entertainment</li>


                    </ul>
                </div>
            </div>
        </div>

    </mat-card-content>

</mat-card>