.vl {
    border-left: 4px solid rgb(0, 0, 0) !important;
    height: 500px !important;
}

h1 {
    color: black !important;
}

h2 {
    color: black !important;
    font-size: 12px !important;
}

h3 {
    color: black !important;
}

// div {
//     color: black;
// }

h4 {
    color: black !important;
}

*,
::after,
::before {
    box-sizing: unset !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: unset !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0px !important;
}

.componentWrapperCustomerDetails {
    border: solid rgb(1, 1, 1);
    border-radius: 11px;
    width: 95%;

}

.componentWrapperTableHeader {
    border: solid rgb(1, 1, 1);
    // border-radius: 11px;
    width: 20%;
    background-color: lightgray;
}


.mdc-data-table__cell {
    border: solid 1px black;
    padding: 6px;
    text-align: right;
}

.mat-mdc-table tbody,
.mat-mdc-table tfoot,
.mat-mdc-table thead,
.mat-mdc-cell,
.mat-mdc-footer-cell,
.mat-mdc-header-row,
.mat-mdc-row,
.mat-mdc-footer-row,
.mat-mdc-table .mat-mdc-header-cell {

    font-size: 12px;
    height: 0px;
}


.mat-mdc-header-row {
    height: unset;
}

.mdc-data-table__row:last-child .mat-mdc-cell {
    border-bottom: solid 1px black;
}

.mdc-data-table__row:first-child .mat-mdc-cell {
    border-top: solid 1px black;
}

.mat-cell {
    font-size: 2px;
}

.mat-mdc-icon-button {
    height: 0px !important;
    width: 0px !important;
    color: #0091ff;
    padding: 0px;
    padding-right: 30px;
}

.viewHover {
    color: gray !important;
    transition: transform ease 300ms;
}

.viewHover:hover {
    transition: transform ease 300ms;
    color: #0091ff !important;
    transform: scale(1.2);
    cursor: pointer;
}




















.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    height: 100vh;
    z-index: 100;
    background-color: #656565;
    overflow: hidden;
    transition: width .3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, .4);

    &:hover {
        width: 200px;
    }

    @media screen and (min-width: 600px) {
        // width: 80px;
    }
}

.nav {
    list-style-type: none;
    color: white;

    &:first-child {
        padding-top: 1.5rem;
    }
}

.nav__items {
    // padding-bottom: 4rem;
    font-family: 'roboto';
    margin-left: 5px;

    a {
        padding-left: 10px;
        position: relative;
        display: block;
        top: -35px;
        padding-left: 35px;
        padding-right: 15px;
        transition: all .3s ease;
        margin-left: 25px;
        margin-right: 10px;
        text-decoration: none;
        color: white;
        font-family: 'roboto';
        font-weight: 100;
        font-size: 1.35em;

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 2px;
            background: radial-gradient(circle at 94.02% 88.03%, #0091ff, transparent 100%);
            opacity: 0;
            transition: all .5s ease;
            z-index: -10;
        }
    }

    &:hover a:after {
        opacity: 1;
    }

    svg {
        width: 26px;
        height: 26px;
        position: relative;
        left: -25px;
        cursor: pointer;

        @media screen and (min-width:600px) {
            width: 32px;
            height: 32px;
            left: -15px;
        }
    }
}

body {
    height: 100vh;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%), radial-gradient(circle at 25.99% 27.79%, #ff94fb, transparent 100%), radial-gradient(circle at 50% 50%, #000000, #000000 100%);
}