<!-- Header starts -->
<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
    [style.background-color]="(top == false) ? 'rgb(31 110 212 / 95%)' : 'transparent'">
    <div class="container d-flex align-items-center justify-content-between" style="max-width: 90%;">
        <a href="index.html" style="margin-right: 20px;"><img src="assets/Images/PV4PLogo.PNG" alt=""
                style="width: 60px;"></a>
        <div class="logo">

            <h1 style="margin-top: 4%;"> <a href="index.html">South African Council for the Property Valuers
                    Profession</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown "><a class="nav-link scrollto " href="#hero"
                        (click)="goToContruction(false)"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="#about" (click)="goToContruction(false)">About</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#services" (click)="goToContruction(false)">Services</a>
                        </li>
                        <li><a class="nav-link scrollto " href="#portfolio"
                                (click)="goToContruction(false)">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#faq" (click)="goToContruction(false)">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#team" (click)="goToContruction(false)">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact" (click)="goToContruction(false)">Contact
                                Us</a>
                        </li>
                    </ul>
                </li>
                <li><a href="announcements">Announcements</a></li>
                <li><a href="examinations">Examinations</a></li>

                <li class="dropdown"><a href="events" class="active"><span>Events</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="notice">Notice</a></li>

                        <li><a href="gallery">Gallery</a></li>

                        <li class="dropdown"><a href="" class="active"><span>Conferences,
                                    Workshops &
                                    Seminars</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="practicalworkschool" class="active">Practical Workschool</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="TendersAndJobs">Tenders/Jobs</a></li>


                <li class="dropdown"><a href="registrations"><span>Registrations</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="HowToRegister">How to register</a></li>
                        <li><a href="AccreditedProgrammes">
                                Accredited Programmes</a></li>
                        <li><a href="E-Log">e-Log Maintain Work Record</a></li>
                        <li><a href="CET">
                                CPD Activities and Allocation</a></li>
                        <li><a href="RestrictionCodes">Restriction Codes</a></li>
                        <li><a href="Learnership">
                                Learnership</a></li>

                    </ul>
                </li>



                <li><a href="ProfessionalFees">Professional Fees</a></li>



                <li class="dropdown"><a href="standards"><span>Standards</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="MunicipalRatingStandards">
                                Municipal Rating Standards</a></li>
                        <li><a href="InternationalValuationStandards">
                                International Valuation Standards</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="LodgeALegalCaseOrComplaint"><span>Legal</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="governance">Governance</a></li>
                        <!-- <li><a href="">Lodge a legal case</a></li>
                        <li class="dropdown"><a href=""><span>Code of conduct</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="LodgeALegalCaseOrComplaint">Lodge a legal case or
                                        complaint</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown"><a href="FindValuer"><span>Find Valuer</span></a>
                    <!-- <ul>
                    <li><a href="#" (click)="goToContruction(true)">
                            Name search</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Search by Council Number</a></li>
                    <li><a href="#" (click)="goToContruction(true)">
                            Search by Category</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Member Search</a></li>
                </ul> -->
                </li>







                <li><a class="nav-link scrollto" (click)="toApp()" href="">Log In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>

<!-- Content starts -->

<div class="section-title" data-aos="zoom-out" style="padding-top: 100px;padding-left: 10px;">
    <h2 style="font-size: 20px;">Practical Workschool</h2>
</div>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;padding-bottom: 0px;">
    <h4 style="font-size: 16px;text-align: center;">SOUTH AFRICAN COUNCIL FOR THE PROPERTY VALUERS PROFESSION </h4>
</div>
<div class="section-title" data-aos="zoom-out" style="padding-top: 10px;">
    <h4 style="font-size: 16px;text-align: center;">HOSTING OF THE PRACTICAL WORKSCHOOL FROM 26 – 30 AUGUST 2024</h4>
</div>
<div style="margin-left: 20%;font-size: 14px;padding-right: 12%;">
    <p><b style="font-size: 15px;">VENUE:</b></p>
    <p><b>Johannesburg Business School </b></p>
    <p>69 Kingsway Ave,</p>
    <p>Auckland Park, </p>
    <p>Johannesburg, </p>
    <p>2092</p>
    <br>
    <p>Registration is now open and it is the first post Covid 19 practical work school that will be hosted as normal a
        contact session. </p>
    <br>
    <br>
    <p style="font-size: 15px;"><b>Closing date for registration is 31 July 2024. </b></p>
    <br>
    <ol type="1">
        <li>Who may attend the Work School </li>
        <ul>
            <li>Candidate Valuer (including a Candidate Single Residential Property Assessor – CSRPA) in his/her final
                year of study of an accredited valuation qualification and who will be graduating in 2024</li>
            <li>A Candidate Valuer who has completed his/her valuation qualification and wishes to sit for the Council’s
                admission examination to become a professional</li>
            <li>A Candidate Single Residential Property Assessor (CSRPA) who will attend fewer sessions of the work
                school and expected to take the test on the Time Value of Money (TVM) </li>
            <li>A Professional Associated Valuer or Professional Valuer who is already registered with the Council and
                wants to refresh his/her valuation knowledge and earn CPD points </li>
            <li>A Candidate Valuer or a Professional Associated Valuer in preparation for the Board examination which
                was previously referred to as the pre-exam session </li>
            <li>A delegate attending the practical work school as a requirement for the Board examination who will
                obtain a Certificate of Attendance</li>
            <li>Any unregistered person ie a person not registered with the Council. </li>
        </ul>
    </ol>
    <p><b>Please note: </b>It is compulsory that a delegate <b>must</b> attend the practical work school as a
        requirement to sit for the Board examination (to become professionals). </p>
    <br>
    <p>Please click here for <b class="hyper" (click)="openInformationPDF()">Important Information</b> regarding the
        tests, CPD allocation, cost and special notes. </p>

    <br>
    <p>Please click here to download the <b class="hyper" (click)="openApplicationPDF()">Application Form</b> </p>
    <p>(Please send your registration form to <a class="hyper"
            href="mailto:admin@sacpvp.co.za"><b>admin@sacpvp.co.za</b></a> and
        proof of payment to <a class="hyper" href="mailto:moeletsi@sacpvp.co.za"><b>moeletsi@sacpvp.co.za</b></a> on or
        before 31 July
        2023).</p>
    <p>Please click here to view the <b class="hyper" (click)="openProgrammePDF()">SACPVP 2023 Practical Workschool
            Promgramme.</b> </p>
    <br>
    <br>
</div>

<!-- Footer Starts -->

<!-- ======= Footer ======= -->
<app-footer></app-footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    [style.visibility]="(bottomscrollarrow == false) ? 'hidden' : 'unset'"
    [style.opacity]="(bottomscrollarrow == false) ? '0' : '1'"><i class="bi bi-arrow-up-short"></i></a>