<div class="section-title" data-aos="zoom-out" style="padding-top: 20px;padding-bottom: 0px;">
    <h4 style="font-size: 16px;text-align: center;">Get Connected!</h4>
</div>
<br>
<div style="padding-left: 20px;padding-right: 20px;font-size: 14px;">
    <p>Please create a username for your account and enter your first name and last name. Once you are registered you
        can enjoy all of the members-only areas of the site.</p>
    <p><b>Note: </b>All fields are required. Please ensure your username contains only letters and/or numbers with no
        special characters or space. You may also enter a valid email address. Example: smith123 or
        smith123@yourdomain.com</p>
    <br>
    <p><b>Register using your social media profile:</b></p>

    <div style=" padding: 12px 0px;">
        <button class="custom-btn btn-f animation a6"><img src="../../../../assets/svg/facebook-color-svgrepo-com.svg"
                style="width: 25px;"><span> &#160;&#160;&#160;&#160;Login With Facebook </span></button>
    </div>

    <div style=" padding: 12px 0px;">
        <button class="custom-btn btn-l animation a6"><img src="../../../../assets/svg/linkedin-svgrepo-com.svg"
                style="width: 25px;"><span> &#160;&#160;&#160;&#160;Login With LinkedIn </span></button>
    </div>

    <p><b>OR</b></p>
    <p><b>Registration Information</b></p>

    <form style="max-width: 50%;">
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp1"
                placeholder="Enter first name">
            <small id="emailHelp1" class="form-text text-muted">We'll never share your first name with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp2"
                placeholder="User Name">
            <small id="emailHelp2" class="form-text text-muted">We'll never share your User Name with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <br>
        <div style=" padding: 12px 0px;">
            <button class="custom-btn btn-f animation a6"><span>Submit </span></button>
        </div>
    </form>
    <br>
    <p><b>To close the Dialog click anywhere outside the box</b></p>
    <br>


</div>