<!-- Header starts -->

<header id="header" class="fixed-top d-flex align-items-center  header-transparent"
    [style.background-color]="(top == false) ? 'rgb(31 110 212 / 95%)' : 'transparent'">
    <div class="container d-flex align-items-center justify-content-between" style="max-width: 90%;">
        <a href="index.html" style="margin-right: 20px;"><img src="assets/Images/PV4PLogo.PNG" alt=""
                style="width: 60px;"></a>
        <div class="logo">

            <h1 style="margin-top: 4%;"> <a href="index.html">South African Council for the Property Valuers
                    Profession</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->

        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li class="dropdown "><a class="nav-link scrollto " href="#hero"
                        (click)="goToContruction(false)"><span>Home</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a class="nav-link scrollto" href="#about" (click)="goToContruction(false)">About</a>
                        </li>
                        <li><a class="nav-link scrollto" href="#services" (click)="goToContruction(false)">Services</a>
                        </li>
                        <li><a class="nav-link scrollto " href="#portfolio"
                                (click)="goToContruction(false)">Portfolio</a></li>
                        <li><a class="nav-link scrollto" href="#faq" (click)="goToContruction(false)">FAQ</a></li>
                        <li><a class="nav-link scrollto" href="#team" (click)="goToContruction(false)">Team</a></li>
                        <li><a class="nav-link scrollto" href="#contact" (click)="goToContruction(false)">Contact
                                Us</a>
                        </li>
                    </ul>
                </li>
                <li><a href="announcements">Announcements</a></li>
                <li><a href="examinations" class="active">Examinations</a></li>

                <li class="dropdown"><a href="events"><span>Events</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="notice">Notice</a></li>

                        <li><a href="gallery">Gallery</a></li>

                        <li class="dropdown"><a href=""><span>Conferences,
                                    Workshops &
                                    Seminars</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="practicalworkschool">Practical Workschool</a></li>

                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="TendersAndJobs">Tenders/Jobs</a></li>


                <li class="dropdown"><a href="registrations"><span>Registrations</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="HowToRegister">How to register</a></li>
                        <li><a href="AccreditedProgrammes">
                                Accredited Programmes</a></li>
                        <li><a href="E-Log">e-Log Maintain Work Record</a></li>
                        <li><a href="CET">
                                CPD Activities and Allocation</a></li>
                        <li><a href="RestrictionCodes">Restriction Codes</a></li>
                        <li><a href="Learnership">
                                Learnership</a></li>

                    </ul>
                </li>



                <li><a href="ProfessionalFees">Professional Fees</a></li>



                <li class="dropdown"><a href="standards"><span>Standards</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="MunicipalRatingStandards">
                                Municipal Rating Standards</a></li>
                        <li><a href="InternationalValuationStandards">
                                International Valuation Standards</a></li>
                    </ul>
                </li>


                <li class="dropdown"><a href="LodgeALegalCaseOrComplaint"><span>Legal</span> <i
                            class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="governance">Governance</a></li>
                        <!-- <li><a href="">Lodge a legal case</a></li>
                        <li class="dropdown"><a href=""><span>Code of conduct</span> <i
                                    class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a href="LodgeALegalCaseOrComplaint">Lodge a legal case or
                                        complaint</a>
                                </li>
                            </ul>
                        </li> -->
                    </ul>
                </li>

                <li class="dropdown"><a href="FindValuer"><span>Find Valuer</span></a>
                    <!-- <ul>
                    <li><a href="#" (click)="goToContruction(true)">
                            Name search</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Search by Council Number</a></li>
                    <li><a href="#" (click)="goToContruction(true)">
                            Search by Category</a></li>
                    <li><a href="#" (click)="goToContruction(true)">Member Search</a></li>
                </ul> -->
                </li>







                <li><a class="nav-link scrollto" (click)="toApp()" href="">Log In</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>

<!-- Main content starts -->

<div class="section-title" data-aos="zoom-out" style="padding-top: 100px;padding-left: 10px;">
    <h2 style="font-size: 20px;font-weight: bold">Examinations </h2>
</div>

<div class="section-title" data-aos="zoom-out" style="padding-top: 0px;padding-left: 10px;">
    <h4 style="font-size: 16px;text-align: center;font-weight: bold">BOARD EXAMINATION 2024: </h4>
</div>

<div class="section-title" data-aos="zoom-out" style="padding-top: 0px;padding-left: 10px;">
    <h4 style="font-size: 16px;text-align: center;font-weight: bold;">ANNOUNCEMENT TO ALL REGISTERED CANDIDATE AND
        PROFESSIONAL ASSOCIATED
        VALUERS </h4>
</div>

<p style="font-size: 14px;text-align: center;">

    The South African Council for the Property Valuers Profession (SACPVP) is now accepting Board examination
    applications.<br><br>
    Registered Candidates and Professional Associated Valuers who eligible and would like to write the examination
    on<b> 20 March 2024</b> are invited to <b>submit their applications by courier or hand delivery.</b>
    <br><br>
    Applications should be addressed to either Ms. Monyela or Mr. Ntsweng.
    <br><br>
</p>
<p style="color: red;font-weight: bold;font-size: 14px;text-align: center;">Applications sent via email will not be
    accepted.</p>

<p style="color: red;font-weight: bold;font-size: 14px;text-align: center;">Submission Date Closed.</p>

<div class="section-title" data-aos="zoom-out" style="padding-top: 20px;padding-left: 10px;">
    <h4 style="font-size: 16px;font-weight: bold;text-align: center;">Please note as Follows: </h4>
</div>

<ul style="font-size: 12px;  margin-left: 20%;">
    <li>Registered persons who have previously written the exam and failed, you are advised not to submit new
        applications. You may send an email before the closing date confirming that you will be writing the board
        examination. </li><br>
    <li>Registered persons who were approved to write the board exam but were unable to write due to certain unforeseen
        circumstances, you are advised not to submit new applications. You may send an email before the closing date
        confirming that you will be writing the board examination. </li><br>
    <li>Registered Candidates who have been registered with the Council for more that 2 (two) years or registered
        Professional Associated Valuers, you are advised to submit the following documents: </li><br>
    <li>The completed application form including item 11.1 (the Experience matrix), with supporting documents. <b>This
            will
            include:</b></li>
    <ul><br>
        <li>A summary of all valuations performed under the supervision of a Registered Professional Associated or
            Professional Valuer. </li><br>
        <li>Certified copies of accredited qualification/s with academic transcript/s. Certifications should not be more
            than 3 (three) months.
            Certified copy of ID. The certification should not be more that 3 (three) months.
        </li><br>
        <li>Updated and detailed curriculum vitae (CV). The CV should be in line with the POE that you have submitted.
        </li><br>
        <li>A letter from the supervisor/mentor confirming that all valuations submitted were performed under his/her
            supervision. <br>The mentor/supervisor must be registered with the SACPVP as a Professional Associated or a
            Professional Valuer. His/her details should include their registration number and postal address. </li><br>
    </ul><br>
    <li>Important to Note: The Practical Work School certificate is a compulsory document to be submitted with your
        application. An application without the Practical Work School certificate will not be considered. </li><br>
    <li>If you have attended the Practical Work School and to date have not received your certificate. Please call the
        Office on <a style="font-weight: bolder;" href="tel: 012 348 8643">012 348 8643</a> or email <a
            style="font-weight: bolder;" href="mailto:admin@sacpvp.co.za.">admin@sacpvp.co.za.</a></li><br>
    <li>Finally, in a post Covid 19 environment, the Board examination will be taken as in an ordinary set of
        circumstances i.e., a contact session. </li>
</ul>

<div class="section-title" data-aos="zoom-out" style="padding-top: 40px;padding-left: 10px;">
    <h4 style="font-size: 16px;font-weight: bold;text-align: center;">EXAMINATION FEE </h4>
</div>






<section id="pricing-container">
    <div id="pricing-cards">
        <!-- ============================= -->
        <!-- = Card1 = -->
        <!-- ============================= -->
        <div class="price-card">
            <div class="price-card--header">
                <h4>Professional Valuer</h4>

            </div>
            <div class="price-card--hero-text">
                Fee
            </div>
            <div class="price-card--price">
                <div class="price-card--price-text">
                    <div class="price-card--price-number toggle-price-content odometer" data-price-monthly="2,499"
                        data-price-yearly="2,250">3 587,00</div>
                </div>
            </div>
            <div class="price-card--mobile-features-toggle"></div>
        </div>
        <!-- End of Card -->
        <!-- ================================ -->
        <!-- = Card2 = -->
        <!-- ================================ -->
        <div class="price-card price-card--hero">
            <div class="price-card--header">
                <h4>Professional Associated Valuer</h4>
            </div>
            <div class="price-card--hero-text">
                Fee
            </div>
            <div class="price-card--price">
                <div class="price-card--price-text">
                    <div class="price-card--price-number toggle-price-content odometer" data-price-monthly="999"
                        data-price-yearly="900">3 318,00</div>
                </div>
            </div>
            <div class="price-card--mobile-features-toggle"></div>
        </div>
        <!-- ================================ -->
        <!-- = Card3 = -->
        <!-- ================================ -->
        <div class="price-card">
            <div class="price-card--header">
                <h4>Single Residential Property Assessor</h4>
            </div>
            <div class="price-card--hero-text">
                Fee
            </div>
            <div class="price-card--price">
                <div class="price-card--price-text only-yearly">
                    <div class="price-card--price-number2 odometer">3 318,00</div>
                </div>
            </div>
            <div class="price-card--mobile-features-toggle"></div>
        </div>
        <!-- End of Card -->
    </div>
    <!--    end of pricing-cards -->
</section>

<!-- <p (click)="openPDF()" class="pdfLink"><a>Click here to
        download the
        information as
        PDF document.</a></p> -->














<!-- Footer starts -->
<app-footer></app-footer>

<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"
    [style.visibility]="(bottomscrollarrow == false) ? 'hidden' : 'unset'"
    [style.opacity]="(bottomscrollarrow == false) ? '0' : '1'"><i class="bi bi-arrow-up-short"></i></a>