<div style="padding: 20px;">
    <h1 style="color: red;text-align: center;font-size: 30px;">The WebSite is still under construction,
        some text and
        pages will be
        unavailable.<h4 style="color: crimson;">Please check out our new Announcement.</h4>
    </h1>
    <app-construction-main></app-construction-main>
    <button class="custom-btn btn-5 animation a6" style="float: right;" (click)="close()"><span>Close</span></button>
    <button class="custom-btn btn-5 animation a6" style="float: left;"
        (click)="goAnnouncement()"><span>Announcement</span></button>
</div>